#app{
    display: inline-block;
    position: relative;
}
.board{
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    border: 2px solid brown;
    flex-wrap: wrap;
    margin:0 auto;
    .column{
        display: flex;
        flex-direction: column;
        .indicator{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            &.player{
                background-color: red;
            }
            
            &.opponent{
                background-color: yellow;
            }
        }
        .slot{
            width: 100px;
            height: 100px;
            background-color: beige;
            border: 1px solid black;
            border-radius: 50%;
            text-align: center;
            
            &:hover{
                cursor: pointer;

            }
            &.player{
                background-color: red;
            }
            
            &.opponent{
                background-color: yellow;
            }
            
        }

    }
}